* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(bg.jpg);
    background-size: 100vw;
    overflow: hidden;
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 30%;
    min-width: 400px;
    -webkit-box-shadow: 0px 0px 50px 20px #000062; 
    box-shadow: 0px 0px 50px 20px #000062;
    border-radius: 25px;
}

.buttons, .result {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 100%;
}

.result {
    height: 80px;
    justify-content: flex-start;
    align-items: center;
    font-size: 2em;
    background: rgba(41, 38, 133, 0.9);
    color: #fff;
    padding: 0 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.button {
    display: flex;
    flex: 0 1 25%;
    justify-content: center;
    align-items: center;
    height: 80px;
    border: 1px solid #000;
    border-top: none;
    border-left: none;
    cursor: pointer;
    background-color: rgba(12, 12, 107, 0.9);
    font-size: 2.2em;
    color: #fff;
    transition: 0.2s;
}

.button:hover {
    background-color: rgba(22, 22, 184, 0.9);
}

.button:nth-child(4n), .button:last-child {
    background: rgba(1, 21, 109, 0.9);
    color: rgba(255, 255, 255, 0.774);
    font-size: 1.8em;
}

.button:nth-child(4n):hover, .button:last-child:hover {
    background-color: rgba(3, 35, 177, 0.9);
}

.button:nth-child(17) {
    border-bottom-left-radius: 25px;
}

.button:last-child {
    border-bottom-right-radius: 25px;
}

.zero {
    flex-grow: 2;
}

/*FOOTER*/
.text {
    position: absolute;
    color: #fff;
    font-size: 0.9em;
    bottom: 1vh;
    opacity: 0.8;
}

a {
    color: #fff;
}

/*LOADER*/
.loader-wrapper {
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
}


.loader {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #2f2fff;
    border-top: 20px solid #442fff;
    -webkit-animation: loader 1.2s ease-in-out infinite alternate;
    animation: loader 1.2s ease-in-out infinite alternate;
  }
  
  @keyframes loader {
     from {transform: rotate(0deg);}
     to {transform: rotate(720deg);}
  }
  @-webkit-keyframes loader {
     from {-webkit-transform: rotate(0deg);}
     to {-webkit-transform: rotate(720deg);}
  }